**Esercizio** 1/2 Il dataset pokemon.csv contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari. 

• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 

• È verosimile che la prima colonna dovrebbe essere un indice? 

• Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? 

• Se no, settare la prima colonna come indice.

• Quali sono i Pokémon leggendari? 

• E quali sono i leggendari di tipo 1 Grass? 

• E leggendari di tipo 1 Ice o Fire? 

• Trasformiamo la colonna Name nell'indice; 

• Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

In [87]:
import os
import dotenv
import sqlalchemy
import pandas as pd
df = pd.read_csv(r"C:\Users\patri\OneDrive\Documents\Epicode Data Analyst\Modulo 3 - Python\W10D5\datasets\datasets\beginner_datasets\pokemon.csv")

In [89]:
df.shape

(800, 13)

In [91]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

**È verosimile che la prima colonna dovrebbe essere un indice?** Si, possiamo scegliere di utilizzare la prima colonna con df.set_index[#]

**Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?** No, il database parte dalla riga 1, Pandas fa partire l'indice dalla posizione 0

**Se no, settare la prima colonna come indice.**

In [94]:
df = df.set_index("#")

In [96]:
Legendary = df[df["Legendary"]] #Quali sono i Pokémon leggendari?
print(Legendary)

                    Name    Type 1    Type 2  Total   HP  Attack  Defense  \
#
144             Articuno       Ice    Flying    580   90      85      100
145               Zapdos  Electric    Flying    580   90      90       85
146              Moltres      Fire    Flying    580   90     100       90
150               Mewtwo   Psychic       NaN    680  106     110       90
150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190      100
..                   ...       ...       ...    ...  ...     ...      ...
719              Diancie      Rock     Fairy    600   50     100      150
719  DiancieMega Diancie      Rock     Fairy    700   50     160      110
720  HoopaHoopa Confined   Psychic     Ghost    600   80     110       60
720   HoopaHoopa Unbound   Psychic      Dark    680   80     160       60
721            Volcanion      Fire     Water    600   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
144       95      125     85           1       True
145      125       90    100           1       True
146      125       85     90           1       True
150      154       90    130           1       True
150      154      100    130           1       True
..       ...      ...    ...         ...        ...
719      100      150     50           6       True
719      160      110    110           6       True
720      150      130     70           6       True
720      170      130     80           6       True
721      130       90     70           6       True

[65 rows x 12 columns]

In [98]:
Grass = df.loc[(df["Legendary"] == True) & (df["Type 1"] == "Grass")] #E quali sono i leggendari di tipo 1 Grass?
Grass

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [100]:
IceFire = df.loc[(df["Legendary"] == True) & ((df["Type 1"] == "Ice")|(df["Type 1"] == "Fire")) ] 
IceFire  # E leggendari di tipo 1 Ice o Fire?

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [102]:
# Trasformiamo la colonna Name nell'indice
df = df.set_index("Name")
df

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [118]:
# Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
Gen1 = df.loc[(df["Generation"] == 1) & (df["Attack"] > 50) & (df["HP"] < 60)]
Gen1

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False